@keyframes title {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: example;
    animation-duration: 4s;
}
